In [1]:
employee = {
    "fname" : "raja",
    "lname" : "sen",
    "email" :"raja.sen@email.com"
}

In [2]:
type(employee)

dict

In [3]:
employee = {
    "fname" : ["raja"],
    "lname" : ["sen"],
    "email" :["raja.sen@email.com"]
}

In [4]:
type(employee)

dict

In [5]:
employee = {
    "fname" : ["raja", "alex", "tony"],
    "lname" : ["sen", "sahm", "stark"],
    "email" :["raja.sen@email.com", "alex.sahm@gmx.com", "tony.stark@iman.com"]
}

In [6]:
employee["fname"]

['raja', 'alex', 'tony']

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(employee)

In [9]:
df

  fname  lname                email
0  raja    sen   raja.sen@email.com
1  alex   sahm    alex.sahm@gmx.com
2  tony  stark  tony.stark@iman.com

In [10]:
df["fname"]

0    raja
1    alex
2    tony
Name: fname, dtype: object

In [11]:
df.fname

0    raja
1    alex
2    tony
Name: fname, dtype: object

In [12]:
df[['fname', 'lname']]

  fname  lname
0  raja    sen
1  alex   sahm
2  tony  stark

In [13]:
df.loc[0:0, 'fname':'lname']

  fname lname
0  raja   sen

In [15]:
df.loc[1, 'lname']

'sahm'